@font-face {
  font-family: "iconfont"; /* Project id 3015454 */
  src: url('iconfont.woff2?t=1639916415906') format('woff2'),
       url('iconfont.woff?t=1639916415906') format('woff'),
       url('iconfont.ttf?t=1639916415906') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e65e";
}

.icon-xinxi:before {
  content: "\e608";
}

.icon-shanchu:before {
  content: "\e602";
}

.icon-online-store:before {
  content: "\e619";
}

.icon-dukan:before {
  content: "\e61b";
}

.icon-1:before {
  content: "\e61c";
}

.icon-2:before {
  content: "\e61e";
}

.icon-3:before {
  content: "\e61f";
}

.icon-13:before {
  content: "\e620";
}

.icon-11:before {
  content: "\e621";
}

.icon-15:before {
  content: "\e625";
}

.icon-18:before {
  content: "\e626";
}

.icon-bianji:before {
  content: "\e60b";
}

.icon-pingjia:before {
  content: "\e642";
}

.icon-shangchuanzhaopian:before {
  content: "\e63c";
}

.icon-_xican:before {
  content: "\e824";
}

.icon-fenxiang:before {
  content: "\e63b";
}

.icon-naicha:before {
  content: "\e612";
}

.icon-caipinpaihangbang:before {
  content: "\e660";
}

.icon-zaocan:before {
  content: "\e736";
}

.icon-shangchuanshipin:before {
  content: "\e69c";
}

.icon-qingchu:before {
  content: "\e603";
}

.icon-bianji1:before {
  content: "\e627";
}

.icon-renqicaipin:before {
  content: "\e628";
}

.icon-tianjiatupian_huaban:before {
  content: "\e62c";
}

.icon-like:before {
  content: "\e604";
}

.icon-shangchuanshipin1:before {
  content: "\e6c3";
}

.icon-dingzuo:before {
  content: "\e63e";
}

.icon-shangchuanshipin2:before {
  content: "\e617";
}

.icon-dianpu:before {
  content: "\f2a2";
}

.icon-miaosha:before {
  content: "\ecab";
}

.icon-falling:before {
  content: "\e750";
}

.icon-filter:before {
  content: "\e751";
}

.icon-folder:before {
  content: "\e752";
}

.icon-good:before {
  content: "\e753";
}

.icon-hot:before {
  content: "\e754";
}

.icon-link:before {
  content: "\e756";
}

.icon-map:before {
  content: "\e758";
}

.icon-product:before {
  content: "\e75d";
}

.icon-resonserate:before {
  content: "\e75e";
}

.icon-rising:before {
  content: "\e761";
}

.icon-seleted:before {
  content: "\e763";
}

.icon-set:before {
  content: "\e76c";
}

.icon-usercenter:before {
  content: "\e773";
}

.icon-exchangerate:before {
  content: "\e772";
}

.icon-add-cart-fill:before {
  content: "\e776";
}

.icon-bussiness-man-fill:before {
  content: "\e779";
}

.icon-Customermanagement-fill:before {
  content: "\e77c";
}

.icon-email-fill:before {
  content: "\e77e";
}

.icon-good-fill:before {
  content: "\e780";
}

.icon-map1:before {
  content: "\e786";
}

.icon-salescenter-fill:before {
  content: "\e78b";
}

.icon-collection-fill:before {
  content: "\e79d";
}

.icon-home:before {
  content: "\e7a7";
}

.icon-add-select:before {
  content: "\e7b0";
}

.icon-sami-select:before {
  content: "\e7b1";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-search:before {
  content: "\e7b3";
}

.icon-jiangzhecai:before {
  content: "\e609";
}

.icon-microphone:before {
  content: "\e7bf";
}

.icon-language:before {
  content: "\e7cf";
}

.icon-leftalignment:before {
  content: "\e7d0";
}

.icon-tongxunlu:before {
  content: "\e7d3";
}

.icon-yiguanzhugongyingshang:before {
  content: "\e7d4";
}

.icon-goumaipianhao:before {
  content: "\e7d5";
}

.icon-anmo2-copy:before {
  content: "\e601";
}

.icon-xianhua:before {
  content: "\e68d";
}

.icon-dazhongdianping1:before {
  content: "\e606";
}

.icon-shejiaotubiao-07:before {
  content: "\e641";
}

.icon-maoyandianying:before {
  content: "\e63d";
}

.icon-KTV:before {
  content: "\faca";
}

.icon-meituanwaimai:before {
  content: "\e616";
}

.icon-jingdian1:before {
  content: "\fe66";
}

.icon-dazhongdianping:before {
  content: "\e691";
}

.icon-chongwu:before {
  content: "\e677";
}

.icon-huoche:before {
  content: "\e685";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e622";
}

.icon-youleyuan:before {
  content: "\e697";
}

.icon-jianshen:before {
  content: "\e623";
}

.icon-xiuxian:before {
  content: "\e62a";
}

.icon-youleyuan2-copy:before {
  content: "\e600";
}

.icon-xiyu:before {
  content: "\e624";
}

.icon-shiwu:before {
  content: "\e605";
}

.icon-lifadiantubiao-:before {
  content: "\e615";
}

.icon-shangchang:before {
  content: "\e692";
}

.icon-jiudian:before {
  content: "\e73f";
}

.icon-meirong:before {
  content: "\e61d";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-code:before {
  content: "\e6f2";
}

.icon-nav-list:before {
  content: "\e6fd";
}

.icon-Notvisible:before {
  content: "\e6fe";
}

.icon-all-fill:before {
  content: "\e718";
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-add-cart:before {
  content: "\e742";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-all1:before {
  content: "\e745";
}

.icon-arrow-up:before {
  content: "\e746";
}

.icon-ashbin:before {
  content: "\e747";
}

.icon-bad:before {
  content: "\e748";
}

.icon-category:before {
  content: "\e749";
}

.icon-close:before {
  content: "\e74a";
}

.icon-ellipsis:before {
  content: "\e74f";
}

